*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 맑은고딕;
    font-size: 16px;
}
#wrap{
   min-width: 1620px;
    overflow: hidden;
}
#kakao{
    background-color: #000;
    height: 40px;
    text-align: center;
}
/* header */
#header{
    width: 1650px;
    height: 70px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    color: #ccc;
    font-weight: 500;
}
#header h1 img{
    width: 100px;
    margin-top: 20px;
}
.gnb{
    display: flex;
}
.gnb li{
    display: block;
    text-align: center;
    margin: 24px;
}
/* 호버시 */
.gnb>li:hover{
    color: #000;
}
.id{
    display: flex;
   
}
.id>li{
    display: block;
    margin: 24px 10px;
}
/* 호버시 */
.id>li:hover ,.on{
    color: #000;
}
.border{
    border-bottom: 1px solid #eee;    
}
/* <!-- header_e --> */

#sub_gnb{
background-color: #eee;
width: 1280px;
margin: 0px auto;
}
#sub_gnb p{
    display: block;
    font-size: 13px;
    float: right; 
    margin: 20PX;
}
#sub_gnb p a{
    color: #ccc;
}

/* !-- event_s --> */
#event_wrap{
    width: 1280px;
    margin: 0px auto;
    text-align: center;
}
#event_wrap h1{
    font-size: 24px;
    margin-top: 100px;
}
#event_wrap p{
    margin: 10px 0px 30px;
    color: #ccc;
}
/* main_s */
#main{
width: 1280px;   
margin: 0px  auto; 
padding-top: 50px;
}
#main img{
    width: 860px;
    display: block;
    margin: 0px auto;
}
/* 목록 */
#list_button{
    width: 1280px;
    margin: 50px auto;
    text-align: right;
}
#list_button a{
    padding: 10px 50px;
    border: 1px solid #ccc;
}
#list_wrap{
    width: 1280px;
    margin: 0px auto;
    margin-bottom: 200px;
}
.list_1 {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.list_1 p{
    font-size: 14px;
    color: #5a5a5a;
}
.list_1 p img{
    padding-left: 5px;
    scale: 1.2;
}
.list_1 a{
    padding-left: 50px;
}
/* <!-- footer_wrap_s --> */
#footer_wrap{
    background-color: #f5f5f1;
    height: 400px;
    padding: 50px;
    box-sizing: border-box;
}
/* <!-- footer_s--> */
#footer{
    width: 1640px;
    margin: 0px auto;  
    padding-top: 20px;
    
}
#footer img{
    width: 100px;
    margin-left: -20px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer li{
    display: block;
    
}
.footer li h1{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}
.footer li p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #23231e;
}
.footer li a {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
.margin{
    display: block;
    margin-top: 50px;
    font-size: 5px;
}